.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.header .logo p {
    font-size: 30px;
    font-weight: bold;
    color: #FF5722;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 28px;
    overflow: hidden;
    background-color: white;
}

.sea {
    border: 2px solid #002855;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 20px;
}

.search-bar input {
    padding: 5px 15px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 200px
}

.search-bar .search {
    background-color: #002855;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.home {

    background-color: #002855;
    color: #002855;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 50%;
}

.search-bar button i {
    font-size: 18px;
}